<fieldset>
	<legend class="legend">{{ Legend|default('') }}</legend>
	<div class="row">
		<div class="col">
			
			{{ form_row(form.isFfl) }}
			{{ form_row(form.isManufacture) }}
			{{ form_row(form.isLawFirm) }}
			{{ form_row(form.isSuppressorMaker) }}
			{{ form_row(form.isSbrMaker) }}
			{{ form_row(form.isSbsMaker) }}
			{{ form_row(form.isAowMaker) }}
			{{ form_row(form.isMgForm3Maker) }}
			{{ form_row(form.isMgForm4Maker) }}
			{{ form_row(form.isMgForm5Maker) }}
			{{ form_row(form.isTitle1Maker) }}
			{{ form_row(form.isTitle2Maker) }}
		
		
		</div>
	</div>
</fieldset>