<fieldset>
	<legend class="legend">{{ Legend|default('') }}</legend>
	<div class="row">
		<div class="col">
			
			{{ form_row(form.isGrantor) }}
			{{ form_row(form.isTrustee) }}
			{{ form_row(form.isBeneficiary) }}
			{{ form_row(form.isAttorney) }}
		
		
		</div>
	</div>
</fieldset>