<fieldset>
	<legend class="legend">{{ Legend|default('') }}</legend>
	<div class="row">
		<div class="col">
			
			{{ form_row(form.nameContributor) }}
			{{ form_row(form.nameSeller) }}
			{{ form_row(form.dateStart) }}
			{{ form_row(form.dateAtfStamp) }}
		
		
		</div>
	</div>
</fieldset>