

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.id) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.formId) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.parentFormId) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.dateStarted) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.dateCompleted) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.status) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.formName) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.ombFormId) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.typeForm) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.typeApplication) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.typeTransfer) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.typeTransferee) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.userRole) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.userAction) }}</div>#}
{#</div>#}




{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferee.transfereeTradeName) }}</div>#}
{#</div>#}






{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeDateSigned) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeFfl1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeFfl2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeFfl3) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeFfl4) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeEin) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transfereeClass) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpQuantity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName3) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail3) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName4) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail4) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName5) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail5) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName6) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail6) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName7) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail7) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName8) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail8) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpName) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpLine1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpLine2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpCity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpState) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpZipcode) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpEmail) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpPhone) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.rpAlias) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.decedentDetails) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorName) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorTitle) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorLine1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorLine2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorCity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorState) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorZipcode) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorEmail) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorPhone) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorDateSigned) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorFfl1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorFfl2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorFfl3) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorFfl4) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorEin) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.transferorClass) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.alternateAddress) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureName) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureLine1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureLine2) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureCity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureState) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.manufactureZipcode) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.firearmType) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.description) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.model) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.serialNo) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.caliber) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.caliberUnit) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.lengthBarrel) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.lengthOverall) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.ddType) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.ddExplosive) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.firearmReactivated) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.renderedUnserviceable) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloAgency) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloName) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloTitle) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloLine1) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloCity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloState) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.cloZipcode) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.statementNameTitle) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.statementPurpose) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.a) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.b) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.c) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.d) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.e) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.f) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.g) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.h) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.dateOfBirth) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.ssn) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.ethnicity) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.race) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.citizenshipUs) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.citizenshipOther) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.citizenship) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.stateOfBirth) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.countryOfBirth) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.renounced) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.illegalAlien) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.residentAlien) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.residentAlienException) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.admissionNumber) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.hasUpin) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.upin) }}</div>#}
{#</div>#}

{#<div class="row">#}
{#	<div class="col">{{ form_row(form.dateSigned) }}</div>#}
{#</div>#}

