<fieldset>
	<legend class="legend">{{ Legend|default('') }}</legend>
	<div class="row">
		<div class="col">
			
			
			{{ form_row(form.nameManufacturer) }}
			{{ form_row(form.descriptionShort) }}
			{{ form_row(form.descriptionLong) }}
			{{ form_row(form.numberModel) }}
			{{ form_row(form.numberSerial) }}
			{{ form_row(form.value) }}
		
		</div>
	</div>
</fieldset>